@model IEnumerable<BrandViewModel>

<div class="products_bar_links">
	<ul class="d-flex flex-row align-items-start justify-content-start">
		@foreach(var brand in Model)
		{
			<li><a href="#">@brand.Name</a></li>
		}
		@*<li class="active">*@
	</ul>
</div>