<div class="products_bar_links">
	<ul class="d-flex flex-row align-items-start justify-content-start">
		<li><a href="#">All</a></li>
		<li><a href="#">Hot Products</a></li>
		<li class="active"><a href="#">New Products</a></li>
		<li><a href="#">Sale Products</a></li>
	</ul>
</div>