<li><a asp-controller="Category" asp-action="Index">Women</a></li>
<li><a asp-controller="Category" asp-action="Index">Men</a></li>
<li><a asp-controller="Category" asp-action="Index">Kids</a></li>
<li><a asp-controller="Category" asp-action="Index">Home Deco</a></li>