@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/css/product.css">
	<link rel="stylesheet" type="text/css" href="~/css/product_responsive.css">
}

<div class="product">
	<div class="container">
		<div class="row">
			<partial name="Partial/_Image">
			<partial name="Partial/_Info">
		</div>
	</div>
</div>