@model CartViewModel

<div class="col-lg-6 cart_extra_col">
	<div class="cart_extra cart_extra_2">
		<div class="cart_extra_content cart_extra_total">
			<div class="cart_extra_title">Cart Total</div>
			<ul class="cart_extra_total_list">
				<li class="d-flex flex-row align-items-center justify-content-start">
					<div class="cart_extra_total_title">Промежуточный итог</div>
					<div class="cart_extra_total_value ml-auto">@Model.TotalPrice</div>
				</li>
				<li class="d-flex flex-row align-items-center justify-content-start">
					<div class="cart_extra_total_title">Доставка</div>
					<div class="cart_extra_total_value ml-auto">бесплатно</div>
				</li>
				<li class="d-flex flex-row align-items-center justify-content-start">
					<div class="cart_extra_total_title">Общая сумма</div>
					<div class="cart_extra_total_value ml-auto">@Model.TotalPrice</div>
				</li>
			</ul>
			<div class="checkout_button trans_200"><a asp-controller="Checkout" asp-action="Index">proceed to checkout</a></div>
		</div>
	</div>
</div>