<!DOCTYPE html>
<html lang="en">
<head>
	<title>Little Closet</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Little Closet template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<partial name="Partial/_Styles"/>

	@RenderSectionAsync("Styles", false)

</head>
<body>

	<partial name="Partial/_LeftMenu"/>

	<div class="super_container">

		<partial name="Partial/_Header"/>

		<div class="super_container_inner">
			<div class="super_overlay"></div>

				@RenderBody()

			<partial name="Partial/_Footer"/>

		</div>

	</div>

	<partial name="Partial/_Scripts"/>

	@RenderSectionAsync("Scripts", false)
	
</body>
</html>