@model CatalogViewModel
@{
	ViewBag.Title = "Каталог товаров";
}

<partial name="Partial/_Style">
<div class="products">
	<div class="container">
		<partial name="Partial/_Filter" />
		<partial name="Partial/_Products" model="Model.Products" />
		
		<div class="row page_nav_row">
			<div class="col">
				<div class="page_nav">
					<ul class="d-flex flex-row align-items-start justify-content-center">
						<li class="active"><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
						<li><a href="#">04</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>