@section Styles
{
	<link rel="stylesheet" type="text/css" href="~/css/checkout.css">
	<link rel="stylesheet" type="text/css" href="~/css/checkout_responsive.css">
}

<div class="checkout">
	<div class="container">
		<div class="row">
			<partial name="Partial/_Billing">
			<partial name="Partial/_Total">
		</div>
	</div>
</div>