<div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
	<!-- Cart -->
	<div class="cart"><a asp-controller="Cart" asp-action="Index"><div><img class="svg" src="~/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>

	<!-- Register -->
	<div class="user"><a asp-controller="Account" asp-action="Register">Регистрация</a></div>

	<!-- Login -->
	<div class="user"><a asp-controller="Account" asp-action="Login">Вход</a></div>
</div>