@section Styles
{
	<link rel="stylesheet" href="~/css/style.css">
}

<div class="main w3l">
	<h2>OOPS</h2>
	<h1> ERROR 404</h1>
	<h3>"Sorry ! the page you are looking for can't be found"</h3>
	<a asp-controller="Home" asp-action="Index" class="back">Вернуться на главную страницу</a>
</div>