<nav class="main_nav">
	<ul class="d-flex flex-row align-items-start justify-content-start">
		<li class="active"><a asp-controller="Category" asp-action="Index">Women</a></li>
		<li><a asp-controller="Category" asp-action="Index">Men</a></li>
		<li><a asp-controller="Category" asp-action="Index">Kids</a></li>
		<li><a asp-controller="Employees" asp-action="Index">Employees</a></li>
	</ul>
</nav>